<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle | uppercase}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Oopsie Woopsie!!</h2>
                <h3>UwU</h3>
                <p>We made a fucky wucky!!</p>
                <p>A wittle fucko boingo!</p>
                <p>The code monkeys at our headquarters are working VEWY HAWD to fix this!</p>
            </div>
        </div>
    </div>
</div>