html {
    font-family: 'Roboto', sans-serif;
}

section {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

section>*:not(:last-child) {
    margin-right: 2ex;
    min-width: 100px;
}

input[readonly] {
    pointer-events: none;
    border: none;
    font-weight: bold;
    color: orangered;
    width: 50px;
}