<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle | uppercase}}
    </div>
    <div class="panel-body">
        <div *ngIf="getPhotos() && getPhotos().length" class="row">
            <div *ngFor="let photo of getPhotos()" class="col-sm-4">
                <img class="img-responsive img-thumbnail" [src]="photo.url" [alt]="photo.title">
            </div>
        </div>
    </div>
</div>