/* primary color: #e78b2c */
/* secondary color: #1e272e */


/* Globals */
html {
	min-height: 100%;
	font-family: 'Lato', sans-serif;
	color: #1e272e;
}

body {
	height: 100%;
	background-image: radial-gradient(ellipse farthest-corner at center top, #00a8ff 50%, #076d9f);
	background-attachment: fixed;
}

a {
	text-decoration: none;
}
/* End Globals */


/* Grid */
.container {
	max-width: 960px;
	background-color: #fff;
	box-shadow: 0 0 3px #1f1f1f;
	flex-flow: column nowrap;
}


.w {
	box-sizing: border-box;
	display: flex;
	margin: 0 1rem;
}

.w0 {
	width: 100%;
	margin: 0 auto;
}

.w1, .w2, .w3 {
	width: calc(100% - 2rem);
}
/* End Grid */

header {
	justify-content: space-between;
	align-items: flex-start;
	overflow: none;
}

header h1 {
	color: #e78b2c;
    font-weight: 900;
    font-size: 3.5em;
    font-variant: small-caps;
    margin: .5rem 0;
}

header img {
	display: none;
}

header + nav {
	position: sticky;
	top: 0;
	left: 0;
	flex-direction: column;
}

ul.nav {
	list-style-type: none;
}

/* Main Navigation */
ul.main-nav {
	background-color: #fff;
}

ul.main-nav {
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
}

ul.main-nav li {
	background-color: #fff;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 3px #fff, 0 0 3px #1f1f1f, 0 -3px 3px -3px #1f1f1f inset;
	font-weight: bold;
	line-height: 1.2rem;
	flex-basis: 20%;
	transition: color .2s, background-color .2s;
	transition-timing-function: ease-in;
}


ul.main-nav li.youarehere {
	color: #e78b2c;
	box-shadow: 0 3px #fff, 0 0 3px #1f1f1f;
	line-height: 1.5rem;
}

ul.main-nav li:hover {
	background-color: #e78b2c;
	color: #fff;
}

ul.main-nav li a {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: .5em 0;
	color: inherit;
	text-align: center;
}

ul.main-nav li a span {
	font-size: .7rem;
}
/* End Main Navigation */

/* Sub Navigation */
ul.sub-nav {
	flex-flow: row nowrap;
	justify-content: space-around;
	margin-top: 1rem;
}

ul.sub-nav li {
	font-weight: bold;
	transition: letter-spacing .2s;
}

ul.sub-nav li:hover {
	letter-spacing: .1rem;
}

ul.sub-nav li a{
	color: #1e272e;
}

ul.sub-nav li::before, ul.sub-nav li::after  {
	content: '•';
	color: #e78b2c;
	margin-left: .5ex;
	margin-right: .5ex;
}
/* End Sub Navigation */

.content {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.content > * {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.content-section {
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
}

.content section img {
	border: 10px solid #fff;
	box-shadow: 0 0 3px #1f1f1f;
	width: 100%;
	margin-top: 1rem;
}

.content iframe {
	border: none;
	overflow: hidden;
}

footer {
	padding: 1rem 0;
	/*border-top: 1px solid transparent;
	border-image: linear-gradient(to right, transparent, #1e272e 75%, transparent) 1;*/
	box-shadow: 0 3px 3px -3px #1f1f1f inset;
}

footer .copyright {
	justify-content: flex-end;
	flex-wrap: wrap;
}

footer span {
	font-size: .8rem;
}

/* Higher Res Phones */
@media only screen and (min-width: 480px) {

	header h1 {
		font-size: 4em;
	}

	header img {
		display: block;
	}

	ul.main-nav li a span {
		font-size: 1em;
	}

}

/* Tablet Browser */
@media only screen and (min-width: 768px) {

	.w2, .w3 {
		width: calc(100% / 2 - 2rem);
	}

	ul.main-nav li a {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	ul.main-nav li a i {
		margin-right: 1ex;
	}

}

/* Desktop Computers */
@media only screen and (min-width: 960px) {
	
	.w3 {
		width: calc(100% / 3 - 2rem);
	}

	.container {
		border-radius: 5px;
		margin: 3% auto;
	}

}