/* primary color #796EFF */
/* shadow color #B7BFC6 */

/* Globals*/
html {
	font-family: Montserrat, sans-serif;
}

body {
	background-color: #fff;
	position: relative;
}

a {
	color: inherit;
	text-decoration: none;
}

section h2 {
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

section span {
	font-size: 1rem;
	color: #646F79;
	font-size: 1rem;
	line-height: 1.5em;
	margin-bottom: 2rem;
	max-width: 960px;
}

.fine-curve {
	border-radius: 3px;
}

.button {
	display: block;
	padding: 1rem;
	font-weight: 500;
	border-width: 2px;
	border-style: solid;
	transition: color .2s, background-color .2s, border-color .2s;
}

/* Forms */
form {
	flex-direction: column;
}

form input {
	display: inline-block;
	padding: 1rem;
	margin-top: 1rem;
	font-weight: 500;
	box-sizing: border-box;
}

form input[type="email"] {
	border: 2px solid #B7BFC6;
	color: #B7BFC6;
}

form input[type="submit"] {
	color: #fff;
	background-color: #796EFF;
	border-color: #796EFF;
	cursor: pointer;
	transition: background-color .2s, border-color .2s;
}

form input[type="submit"]:hover {
	background-color: #594FC7;
	border-color: #594FC7;
}
/* End Forms */
/* End Globals */

/* Grid */
.w {
	box-sizing: border-box;
	display: flex;
	margin: 1rem;
}

.w0, .w5{
	width: 100%;
	margin: 0;
}

.w1, .w2 {
	width: calc(100% - 2rem);
}

.w4 {
	width: calc(100% / 2 - 2rem);
}

.w1024 {
	max-width: 1024px;
}

.wrapper {
	margin: 0 auto;
	flex-direction: column;
	padding: 0 1rem;
}
/* End Grid */

header {
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	justify-content: space-between;
	align-items: center;
	height: 3rem;
	padding: 0 .5rem;
}

header::before {
	content: '';
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #fff;
	box-shadow: 0 0 3px #B7BFC6;
	z-index: -1;
}

header span.logo {
	display: block;
	background-image: url('../img/asana-logo.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	width: 112px;
	height: 100%;
}

nav.main-nav ul.desktop {
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

nav.main-nav ul li {
	display: inline-block;
	margin-right: 1rem;
}

nav.main-nav a {
	color: #B7BFC6;
	transition: color .2s, background-color .2s;
	transition-timing-function: ease-in-out;
	font-weight: 500;
}

nav.main-nav > a {
	font-size: 1.5rem;
	margin-right: .5rem;
}

nav.main-nav a:hover {
	color: #796EFF;
}

nav.main-nav ul.desktop li a.button {
	padding: .5rem;
	border: 2px solid #796EFF;
	color: #796EFF;
	display: block;
}

nav.main-nav ul.desktop li a.button:hover {
	color: #fff;
	background-color: #796EFF;
}

nav.main-nav ul li.drop-down ul {
	position: absolute;
	display: none;
	background-color: #fff;
	box-shadow: 0 3px 3px #B7BFC6;
}

nav.main-nav ul li.drop-down:hover ul {
	display: block;
}

nav.main-nav ul li.drop-down ul li {
	display: list-item;
	margin: 2rem 1rem;
}

nav.main-nav .desktop {
	display: none;
}

nav.main-nav .mobile-container {
	display: block;
	position: relative;
	cursor: pointer;
	height: 1rem;
	width: 1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

nav.main-nav .mobile-container input.mobile {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

nav.main-nav .mobile-container i.mobile {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

nav.main-nav .mobile-container:hover input.mobile ~ i.mobile {
	color: #796EFF;
}

nav.main-nav .mobile-container input.mobile:checked ~ i.mobile:before {
	content: '\274C' !important;
}

nav.main-nav .mobile-container input.mobile:checked ~ ul.mobile {
	left: 0;
}

nav.main-nav ul.mobile {
	position: fixed;
	top: 0;
	left: -100vw;
	background-color: #796EFF;
	min-height: 100vh;
	width: 100vw;
	flex-direction: column;
	justify-content: space-around;
	z-index: -2;
	padding: 5%;
	color: #fff;
	font-weight: 500;
	padding-top: 3rem;
	transition: left;
}

nav.main-nav ul.mobile li {
	/*padding: .75rem 0;*/
}

nav.main-nav ul.mobile ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}

nav.main-nav ul.mobile ul li{
	margin-right: 2ex;
}

/* Sections */
section {
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10rem 0 5rem;
	position: relative;
}

section:not(.tasks) h2, section:not(.landing):not(.tasks) span {
	text-align: center;
}

/* Landing Section */
section.landing h1 {
	font-size: 3.5rem;
	font-weight: 200;
	line-height: 1.5em;
}

section.landing::after {
	content: '';
	display: block;
	background: url('../img/wave.svg') center bottom no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 500px;
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	z-index: -1;
}

/* End Landing Section */
section.tasks {
	overflow: hidden;
}

section.tasks::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	transform: skewY(-5deg);
	transform-origin: 0;
	background: linear-gradient(25deg,#d64c7f,#ee4758 50%);
	z-index: -1;
}

section.tasks .wrapper {
	flex-direction: column;
	align-content: space-between;
	align-items: center;
}

section.tasks .content-wrapper > * {
	margin-top: 3rem;
}

section.tasks .content-wrapper {
	flex-direction: column;
	justify-content: flex-start;
	align-items: baseline;
}

section.tasks h2, section.tasks span {
	color: #fff;
}

section.tasks a {
	color: #fff;
	border-color: #fff;
}

section.tasks a:hover {
	color: #1d1d1d;
	background-color: #fff;
}

/* Sponsors Section */
section.sponsors .wrapper {
	flex-flow: row wrap;
	justify-content: center;
}

section.sponsors a {
	margin-top: 5rem;
	color: #796EFF;
	border-color: #796EFF;
}

section.sponsors a:hover {
	color: #fff;
	background-color: #796EFF;
}

/* Video Section */
section.video {
	background-color: #796EFF;
	display: none;
	position: relative;
}

section.video .wrapper {
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

section.video h2, section.video span {
	color: #fff;
}

section.video .playnow {
	color: #796EFF;
	background-color: #fff;
	height: 10rem;
	width: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: color .2s, box-shadow .2s;
	cursor: pointer;
}

section.video .playnow::after {
	content: '\25b6';
	font-size: 3rem;
	margin-left: .4ex;
}

section.video .playnow:hover {
	color: #594FC7;
	box-shadow: 0 6px 6px #594FC7;
}

section.action {
	/*margin-bottom: -30%;*/
	padding-bottom: 0;
}

section.action .wrapper {
	flex-direction: column;
	align-items: center;
}

section.action .wrapper > * {
	transform: translateY(-15rem);
}

section.action .img-wrapper {
	max-width: 70%;
}

footer {
	color: #fff;
	background: #161D28 url('../img/asana-white.png') center center no-repeat;
	background-size: 20px;
	height: 50px;
	flex-direction: column;
	position: absolute;
	bottom: 0;
}

footer span.logo {
	background: url('../img/asana-white.png') center center no-repeat;
	display: block;
	background-size: 30px;
	height: 30px;
}

footer div.expanded {
	padding: 0 5%;
	/*margin: 0;*/
}

footer ul.expanded {
	flex-direction: column;
	display: none;
	margin-bottom: 5rem;
}

footer ul.expanded li.list-header {
	line-height: 5rem;
	font-weight: bold;
	color: #9CA6AF;
}

footer ul.expanded li {
	line-height: 2.5rem;
	font-size: .9rem;
}

footer ul.expanded li a:hover{
	border-bottom: 2px solid #fff;
}

footer .bottom {
	display: none;
	background-color: #222A36;
	height: 5rem;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
}

footer .bottom ul {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

footer .bottom ul li {
	flex-grow: 2;
	word-break: break-all;
	hyphens: auto;
}

footer .bottom ul li select {
	background-color: transparent;
	color: #fff;
	border: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

footer .bottom ul li select::before {
	content: 'ALS';
	display: block;
	height: 1rem;
	width: 1rem;
}

footer .bottom ul li.socials {
	font-size: 1.5rem;
	flex-shrink: 2;
	flex-grow: 1;
	color: #A7AAAF;
}

footer .bottom ul li.app {
	display: flex;
	justify-content: flex-end;
}
	
footer .bottom a.playstore, footer .bottom a.appstore {
	display: block;
	height: 50px;
	width: 140px;
}

footer .bottom a.playstore {
	background: url('../img/playstore.svg') center center no-repeat;
}

footer .bottom a.appstore {
	background: url('../img/appstore.svg') center center no-repeat;
}


@media only screen and (min-width: 960px) {

	.w2 {
		width: calc(100% / 2 - 2rem);
	}

	.w4 {
		width: calc(100% / 4 - 2rem);
	}

	.w5 {
		width: calc(100% / 5 - 2rem);
	}

	.wrapper {
		padding: 0 5rem;
	}

	form {
		flex-direction: row;
		justify-content: space-start;
	}

	form input:not(:last-child) {
		margin-right: 2rem;
	}

	section {
		padding-bottom: 20rem;
	}

	section span {
		font-size: 1.45rem;
	}

	nav.main-nav .desktop {
		display: flex;
	}

	nav.main-nav .mobile {
		display: none;
	}

	section.landing h1 {
		font-size: 5rem;
	}

	section.tasks .wrapper {
		flex-direction: row;
	}

	section.video {
		display: flex;
	}

	footer {
		position: static;
		height: auto;
		background-position: 10% 2.675rem;
		background-size: 25px;
	}

	footer div.expanded {
		padding-left: 17%;
	}

	footer span.logo {
		height: 80px;
	}

	footer ul.expanded {
		display: flex;
	}

	footer .bottom {
		display: flex;
	}

}