<div class="jumbotron bg-primary text-white text-center">
  <h1>Forme - Domaći</h1>
</div>

<div class="container border rounded bg-light p-4 mb-4">
  <div class="row">
    <div class="col-12">
      <form (ngSubmit)="onSubmit(purchaseForm)" [formGroup]="purchaseForm">
        <fieldset formGroupName="billingData">
          <legend>Name and Billing Info</legend>
          <div class="form-row">
            <div class="col form-group">
              <label for="firstName">First Name</label>
              <input type="text" [ngClass]="{'form-control': true, 'is-invalid': isValid(purchaseForm.get('billingData.firstName'))}" formControlName="firstName"
                id="firstName" name="firstName" placeholder="John">
              <div *ngIf="purchaseForm.get('billingData.firstName').errors" class="invalid-feedback">
                <div *ngIf="purchaseForm.get('billingData.firstName').errors['required']">First name is required</div>
              </div>
            </div>
            <div class="col form-group">
              <label for="lastName">Last Name</label>
              <input type="text" [ngClass]="{'form-control': true, 'is-invalid': isValid(purchaseForm.get('billingData.lastName'))}" formControlName="lastName"
                id="lastName" name="lastName" placeholder="Doe">
              <div *ngIf="purchaseForm.get('billingData.lastName').errors" class="invalid-feedback">
                <div *ngIf="purchaseForm.get('billingData.lastName').errors['required']">Last name is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="email">Email</label>
              <input type="email" [ngClass]="{'form-control': true, 'is-invalid': isValid(purchaseForm.get('billingData.email'))}" formControlName="email"
                id="email" name="email" placeholder="user@email.com">
              <div *ngIf="purchaseForm.get('billingData.email').errors" class="invalid-feedback">
                <div *ngIf="purchaseForm.get('billingData.email').errors['required']">Email address is required</div>
                <div *ngIf="purchaseForm.get('billingData.email').errors['email']">Invalid email address</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="address">Address</label>
              <input type="text" [ngClass]="{'form-control': true, 'is-invalid': isValid(purchaseForm.get('billingData.address'))}" formControlName="address"
                id="address" name="address" placeholder="123 Sesame Street">
              <div *ngIf="purchaseForm.get('billingData.address').errors" class="invalid-feedback">
                <div *ngIf="purchaseForm.get('billingData.address').errors['required']">Address is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="city">City</label>
              <input type="text" [ngClass]="{'form-control': true, 'is-invalid': isValid(purchaseForm.get('billingData.city'))}" formControlName="city"
                id="city" name="city" placeholder="City">
              <div *ngIf="purchaseForm.get('billingData.city').errors" class="invalid-feedback">
                <div *ngIf="purchaseForm.get('billingData.city').errors['required']">City is required</div>
              </div>
            </div>
            <div class="col form-group">
              <label for="state">State</label>
              <input type="text" [ngClass]="{'form-control': true, 'is-invalid': isValid(purchaseForm.get('billingData.state'))}" formControlName="state"
                id="state" name="state" placeholder="State">
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="zipCode">Zip Code</label>
              <input type="text" [ngClass]="{'form-control': true, 'is-invalid': isValid(purchaseForm.get('billingData.zipCode'))}" formControlName="zipCode"
                id="zipCode" name="zipCode" placeholder="12345">
              <div *ngIf="purchaseForm.get('billingData.zipCode').errors" class="invalid-feedback">
                <div *ngIf="purchaseForm.get('billingData.zipCode').errors['required']">Zip code is required</div>
              </div>
            </div>
            <div class="col form-group">
              <label for="country">Country</label>
              <select [ngClass]="{'form-control': true, 'is-invalid': isValid(purchaseForm.get('billingData.country'))}" formControlName="country"
                id="country" name="country">
                <option [ngValue]="null" selected disabled>Select a Country</option>
                <option *ngFor="let c of countryList" [ngValue]="c.value">{{ c.name }}</option>
              </select>
              <div *ngIf="purchaseForm.get('billingData.country').errors" class="invalid-feedback">
                <div *ngIf="purchaseForm.get('billingData.country').errors['required']">Country is required</div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset formGroupName="cardData">
          <legend>Credit Card Info</legend>
          <div class="form-row">
            <div class="col form-group">
              <label for="CreditCard">Credit Card Number</label>
              <input type="text" [ngClass]="{'form-control': true, 'is-invalid': isValid(purchaseForm.get('cardData.creditCard'))}" formControlName="creditCard"
                id="creditCard" name="CreditCard" placeholder="123456789">
              <div *ngIf="purchaseForm.get('cardData.creditCard').errors" class="invalid-feedback">
                <div *ngIf="purchaseForm.get('cardData.creditCard').errors['minlength'] || purchaseForm.get('cardData.creditCard').errors['maxlength'] || purchaseForm.get('cardData.creditCard').errors['not-a-number']">Invalid card number</div>
                <div *ngIf="purchaseForm.get('cardData.creditCard').errors['required']">Card number is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="expMonth">Expiration Month</label>
              <input type="text" [ngClass]="{'form-control': true, 'is-invalid': isValid(purchaseForm.get('cardData.expMonth'))}" formControlName="expMonth"
                id="expMonth" name="expMonth" [placeholder]="today | date:'MM'">
              <div *ngIf="purchaseForm.get('cardData.expMonth').errors" class="invalid-feedback">
                <div *ngIf="purchaseForm.get('cardData.expMonth').errors['min'] || purchaseForm.get('cardData.expMonth').errors['max'] || purchaseForm.get('cardData.expMonth').errors['not-a-number']">Invalid month</div>
                <div *ngIf="purchaseForm.get('cardData.expMonth').errors['required']">Card expiration month is required</div>
              </div>
            </div>
            <div class="col form-group">
              <label for="expYear">Expiration Year</label>
              <input type="text" [ngClass]="{'form-control': true, 'is-invalid': isValid(purchaseForm.get('cardData.expYear'))}" formControlName="expYear"
                id="expYear" name="expYear" [placeholder]="today | date:'yyyy'">
              <div *ngIf="purchaseForm.get('cardData.expYear').errors" class="invalid-feedback">
                <div *ngIf="purchaseForm.get('cardData.expYear').errors['min'] || purchaseForm.get('cardData.expYear').errors['not-a-number']">Invalid year</div>
                <div *ngIf="purchaseForm.get('cardData.expYear').errors['required']">Card expiration year is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label for="securityCode">Security Code</label>
              <input type="text" [ngClass]="{'form-control': true, 'is-invalid': isValid(purchaseForm.get('cardData.securityCode'))}" formControlName="securityCode"
                id="securityCode" name="securityCode" placeholder="999">
              <div *ngIf="purchaseForm.get('cardData.securityCode').errors" class="invalid-feedback">
                <div *ngIf="purchaseForm.get('cardData.securityCode').errors['minlength'] || purchaseForm.get('cardData.securityCode').errors['maxlength'] || purchaseForm.get('cardData.securityCode').errors['not-a-number']">Invalid security code</div>
                <div *ngIf="purchaseForm.get('cardData.securityCode').errors['required']">Security code is required</div>
              </div>
            </div>
            <div class="col form-group">
              <label for="cardType">Card Type</label>
              <select name="cardType" id="cardType" [ngClass]="{'form-control': true, 'is-invalid': isValid(purchaseForm.get('cardData.cardType'))}">
                <option value="visa">Visa</option>
                <option value="master">Mastercard</option>
                <option value="express">American Express</option>
                <option value="discover">Discover</option>
              </select>
              <div *ngIf="purchaseForm.get('cardData.cardType').errors" class="invalid-feedback">
                <div *ngIf="purchaseForm.get('cardData.cardType').errors['required']">Card type is required</div>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset formGroupName="referralData">
          <legend>How did you hear about us?</legend>
          <div class="form-row">
            <div class="col form-group">
              <select name="referral" formControlName="referral" id="referral" class="form-control">
                <option value="friend">Friend / Word of Mouth</option>
                <option value="tv">Television</option>
                <option value="radio">Radio</option>
                <option value="web">Online</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
        </fieldset>

        <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#dataModal">Submit</button>

      </form>
    </div>
  </div>
</div>

<div *ngIf="submitted" class="modal fade" id="dataModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Here is your data
        </h5>
      </div>
      <div class="modal-body">
        <p *ngIf="purchaseData.firstName && purchaseData.lastName && purchaseData.email">You are
          <a [href]="'mailto:'+purchaseData.email">{{purchaseData.firstName + ' ' + purchaseData.lastName}}</a>
        </p>
        <p *ngIf="purchaseData.address && purchaseData.city && purchaseData.zipCode && purchaseData.country">From {{ purchaseData.address }}, {{ purchaseData.city }}, {{ purchaseData.state ? purchaseData.state + ', ' : ''
          }}{{purchaseData.zipCode }}, {{ purchaseData.country }}</p>
        <p *ngIf="purchaseData.creditCard && purchaseData.expMonth && purchaseData.expYear && purchaseData.securityCode && purchaseData.cardType">You're paying with a {{ purchaseData.cardType }} which expires in {{ purchaseData.expMonth + '/' + purchaseData.expYear
          }}
        </p>
        <p *ngIf="purchaseData.referral">You heard of us via {{ purchaseData.referral }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
      </div>
    </div>
  </div>
</div>