<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle | uppercase}}
    </div>
    <div class="panel-body">
        <div class="row" *ngFor="let post of getPosts()">
            <div class="col-md-12">
                <h4 [innerHTML]="post.title | capitalize:'all'"></h4>
            </div>
            <div class="col-md-12">
                <p [innerHTML]="post.body | capitalize"></p>
            </div>
        </div>
    </div>
</div>