<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle | uppercase}}
    </div>
    <div class="panel-body">
        <div *ngIf="user">
            <div class="row">
                <div class="col-md-2">
                    <h3>{{user.name | capitalize:'first'}}</h3>
                    User ID: {{user.id}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <table class="table">
                        <tr>
                            <td>Email:</td>
                            <td [innerHTML]="user.email | hrefify:'mailto'"></td>
                        </tr>
                        <tr>
                            <td>Website:</td>
                            <td [innerHTML]="user.website | hrefify:'http'"></td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td [innerHTML]="user.phone | hrefify:'tel'"></td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>{{user.address.street + ' ' + user.address.suite + ', ' + user.address.city}}</td>
                        </tr>
                        <tr>
                            <td>Company:</td>
                            <td>{{user.company.name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" (click)="back()">Back</button>
                </div>
            </div>
        </div>

    </div>
</div>