<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle | uppercase}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="input-group">
                    <input [(ngModel)]='filter' type="text" class="form-control" id="userSearch">
                    <div class="input-group-btn">
                        <button class="btn btn-default" (click)='search(filter)'>
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table *ngIf="filterList && filterList.length" class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Telephone</th>
                        <th>Website</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of filterList">
                        <td>
                            <a [routerLink]="['/user', user.id]">{{user.username}}</a>
                        </td>
                        <td>{{user.name}}</td>
                        <td [innerHTML]="user.email | hrefify:'mailto'"></td>
                        <td [innerHTML]="user.phone | hrefify:'tel'"></td>
                        <td [innerHTML]="user.website | hrefify:'http'"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>