html {
	min-height: 100%;
}

body {
	background: linear-gradient(LightSkyBlue, LightCyan);
}

h1, p, a {
	text-align: center;
	font-family: 'Comic Sans MS';
}

h1 {
	background: linear-gradient(to right, transparent, white, transparent);
	color: Sienna;
	font-size: 48px;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: LimeGreen;
	font-weight: 400;
	margin-top: 1.5em;
}

h1::before {
	content: '🐕 ';
	color: Gold;
}

h1::after {
	content: ' 🏠';
	color: Tomato;
}

p {
	font-size: 27px;
}

em, strong {
	color: Tomato;
}

/* Begin Span Clouds */

span {
	display: inline-block;
	background-color: White;
	width: 50%;
	border-radius: 17px;
	box-shadow: 7px 5px 0px SkyBlue;
}

span.rightish {
	padding-right: 200px;
	margin-left: 200px;
}

span.rightest {
	padding-right: 300px;
	margin-left: 300px;
}

span.leftish {
	padding-left: 100px;
	margin-right: 100px;
}

span.leftest {
	padding-left: 250px;
	margin-right: 250px;
}

/* End Span Clouds */

span:nth-of-type(odd) {
	color: LimeGreen;
}

span:nth-of-type(even) {
	color: Plum;
}

a {
	display: block;
	text-decoration: none;
	color: tomato;
	font-size: 21px;
}

a:before {
	content: '「';
}

a:after{
	content: '」';
}

a:hover {
	color: SkyBlue;
}