html {
	min-height: 100%;
}

body {
	background: linear-gradient(#fff, #ccc);
}

p {
	width: 75%;
	max-width: 640px;
	margin: 0 auto;
	padding: .4em 1ex;
	color: #333;
	font-family: Calibri, sans-serif;
	font-size: 2em;
	font-weight: 100;
	border: 2px solid transparent;
	border-top: none;
	border-bottom: none;
	box-sizing: border-box;
}

p:first-of-type {
	margin-top: 2em;
}

p:nth-of-type(2), p:nth-of-type(6), p:last-of-type {
	text-align: right;
}

p:first-of-type, p:nth-of-type(3), p:nth-of-type(5) {
	text-align: center;
}

/* Fancy Borders */

.rightfull {
	border-right-color: #888;
}

.leftfull {
	border-left-color: #888;
}

.rightupfade, .leftdownfade {
	border-image: linear-gradient(to bottom left, transparent, #888, transparent) 1;
}

.rightdownfade, .leftupfade {
	border-image: linear-gradient(to bottom right, transparent, #888, transparent) 1;
}

.rightupfade:first-of-type {
	border-left: none;
}

.rightdownfade:last-of-type {
	border-left: none;
}

/* Fancy Borders End */

p:last-of-type {
	color: #888;
	font-size: 1.5em;
	font-weight: 900;
}