<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle | uppercase}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Super Awesome Forum</h1>
                <h2>Welcome!</h2>
            </div>
        </div>

    </div>
</div>