table {
    margin: 1rem auto;
    border-collapse: collapse;
    border: 3px solid black;
}

table tr td {
    border: 1px solid black;
    min-width: 3ex;
    padding: .5rem;
    text-align: center;
}